body{
	
}

:root{
	--border: 1px solid black;
	
}

.logo{
   margin: 30px 0px 0px 50px;
   opacity:0.7;
   display:inline;
}

.search-bar-container{
	display:inline;
	position:absolute;
	box-sizing: border-box;
	top: 40px;
	right:250px;
	border: var(--border);
	height: 40px;
	border-radius: 40px;
	background-color: rgb(241, 245, 247);
	transition-duration: 4s;
}
.search-icon{
	border:none;
	outline:none;
	display: flex;
	width:40px;
	height: 40px;
	color: rgb(0, 0, 0);
	justify-self:center;
	align-items:center;
	float: right;
	border-radius: 50%;
	margin-left: 10px;
}

.searchBar{
	background: none;
	border:none;
	float: left;
	outline:none;
	display: flex;
	justify-self: center;
	line-height: 40px;
	width:0px;
	margin-bottom: 5px;
	align-self: center;
}

.search-bar-container:hover .searchBar {
	width:240px;
}

.login-container{
	margin-top:40px;
	margin-right:10px;
	float:right;
}

.login-container a:hover{
	text-decoration: underline;
	color: white;
}

button.login, button.blogs{
    display:inline; 
	background-color:#00ff00; 
	color:white;
	height:30px;
	border:1px solid blue; 
	border-radius:20px;	
	font-size:15px;
}
a{
	text-decoration:none;
	transition-duration: 0.5s;
}

.navigation{
   margin-top: 20px;
   width:100%;
   text-align:center;
   clear:both;
}

.nav{
	width: 100%;
	padding: 10px;
}

ul.nav-list{
   list-style-type:none;
   width:100%;
   background-color: #1cd377;
   border:2px solid #00b7ff;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height:auto;
   text-align:center;
}

.nav-list li{
	display:inline;
	padding: 15px;
	line-height: 80px;
	background-color:none;
	font-size:40px;
}



.destination-lists{
	display: none;
	position: absolute;
	margin-top: 15px;
	width: 230px;
	margin-left: -15px;
	box-sizing: border-box;
}

.destination-lists ul{
	list-style-position: inside;
}

.hotel .destination-lists{
	width:270px;
}
.destination-lists li{
	display: block;
	line-height: 40px;
}

.destination-lists li a{
	font-size: 33px;
}

ul.nav-list li:hover{
	background-color: #3ce612;
}

ul.nav-list li.destination:hover .destination-lists{
	display: block;
	position: absolute;
	background-color: #3ce612;
	z-index: 2;
}

ul.nav-list li.destination:hover .destination-lists ul li{
	display: block;
	margin-top: 10px;
}

ul.nav-list li.destination:hover .destination-lists ul li{
	padding: 10px;
	background: transparent;
	text-align: left;
}

.destination-lists li:hover a{
	background: turquoise;
	color: white;
}


.foot{
	background-color: #0005;
	color: white;
	margin: 10px;
	position: relative;
	bottom: 0px;
	left: 0px;
	clear: both;
}

@media only screen and (max-width:1460px){
	.nav-list li{
		font-size: 27px;
		text-align: left;
		margin-left: 0;
		padding-left: 0;
	}
	.destination-lists ul{
		margin-left: 15px;
		width: 220px;
	}

	.destination-lists li a{
		font-size: 20px;
		margin-left: 15px;
	}

	.destination-lists {
		width: 200px;
		box-sizing: border-box;
	}

	.hotel .destination-lists{
		width:200px;
		margin-left: 5px;
	}

	.nav{
		margin-inline-start: 0px;
	}
}        

@media only screen and (max-width:965px) {
	.navigation{
		text-align: left;
	}
	.nav{
		margin-left: 0px;
		margin-right: 0px;
	}
	.Experience{
		display: none;
	}
}

@media only screen and (max-width:900px) {
	.about-us{
		display: none;
	}
}

#check{
	display: none;
}
label.checkbtn{
	display: none;
	float: right;
	margin-right: 30px;
}

@media only screen and (max-width:800px){
	.navigation ul.nav-list li{ 
		line-height: 70px;
	}
}

@media only screen and (max-width:800px) {
	label.checkbtn{
		display: block;
	}
	.navigation ul.nav-list{
		position: fixed;
		left: -120%;
		top:120px;
		width:100%;
		background: rgb(0, 0, 0,0.5);
		text-align: center;
		transition:all 0.6s;
	}
	.nav{
		background-color: #1cd377;
		border-radius: 10px;
		height: 50px;
	}

	ul.nav-list li.destination:hover .destination-lists{
		position: inherit;
		top: -10px;
	}

	ul.nav-list li a{
		font-size: 30px;
		color: white;	
	}

	ul.nav-list li a:hover{
		background: #00b7ff;
		border-radius: 10px;
	}

	#check:checked ~ ul{
		left:0;
	}

}


